html, body, #root {
  height: 100%;
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #0b0f17;
  color: white;
}

button {
  cursor: pointer;
  font-family: inherit;
}
